.body{
  
  font-family: "Roboto", sans-serif;
}
.triangulo {
    background-image: url('./form2.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    -webkit-mask-image: url('./form2.svg');
    mask-image: url('./form2.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% auto;
    mask-size: 100% auto;
    -webkit-mask-position: center bottom;
    mask-position: center bottom;
}

.gradient-bg-shadow {
    box-shadow: 
    8px 8px 16px 6px hsl(0, 0%, 100%), /* Sombra blanca */
      8px 8px 16px 6px hsla(217, 51%, 52%, 0.11); /* Sombra negra */
  }
  
 